*
{
    margin: 0;
    padding: 0;
}

.page
{
    padding: 100px 0;
    padding-left: 479px;
    padding-right: 464px;
}

.clear
{
    clear: both;
}

.photo_img
{
    float: left;
    border-radius: 5px;
    height: 350px;
    width: 330px;
}

.quote
{
    float: left;
    margin-left: 61px;
    margin-top: 48px;
    position: relative;
}

.quotes
{
    position: absolute;
    z-index: -1;
}

.quotes_img
{
    height: 87px;
    width: 130px;
}

.quote_text
{
    margin-left: 60px;
    margin-top: 70px;
    color: rgb(132, 132, 132);
    font-family: "Georgia", sans-serif;
    font-size: 28px;
    font-style: italic;
    line-height: 1.5;
    z-index: 1;
}

.quote_author
{
    color: rgb(51, 51, 51);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
    letter-spacing: -0.35px;
    margin-left: 4px;
}

.general_information
{
    margin-top: 45px;
}

.sidebar
{
    float: left;
}

.list
{
    margin-bottom: 42px;
}

.list_title
{
    color: rgb(21, 169, 140);
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 14px;
}

.num_mark_list
{
    color: rgb(85, 85, 85);
    font-family: "Georgia", sans-serif;
    font-size: 19px;
    line-height: 35px;
    margin-left: 21px;
    margin-bottom: 22px;
}

.num_list
{
    margin-left: 21px;
}

.main_content
{
    float: left;
    margin-left: 141px;
    margin-top: 5px;
}

.main_title
{
    color: rgb(51, 51, 51);
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    word-spacing: -1px;
    line-height: 0.7;
    margin-bottom: 35px;
    margin-left: 6px;
    text-align: left;
}

.line
{
    background-color: rgb(69, 195, 170);
    border: 0;
    border-radius: 3px;
    height: 7px;
    width: 60px;
    text-align: left;
}

.foreword_block
{
    margin-top: 43px;
    margin-bottom: 33px;
    color: rgb(85, 85, 85);
    font-family: "Georgia", sans-serif;
    font-size: 19px;
    line-height: 32px;
    width: 569px;
    margin-left: 2px;
}

.subtitle
{
    color: rgb(51, 51, 51);
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.684;
    margin-bottom: 6px;
    margin-top: 20px;
}

.hobby_block
{
    color: rgb(85, 85, 85);
    font-family: "Georgia", sans-serif;
    font-size: 19px;
    line-height: 32px;
    width: 569px;
    margin-left: 2px;
}

.link_wrapper
{
    margin-top: 41px;
    width: 140px;
    margin-left: 2px;
}

.link
{
    color: rgb(21, 169, 139);
    font-family: "Georgia", sans-serif;
    font-size: 19px;
    line-height: 32px;
    text-decoration: none;
}

.write_to_me
{
    border-bottom: 2px solid rgb(21, 169, 139);
    line-height: 32px;
}